* {
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.navbar {
    max-width: 870px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-link {
    text-decoration: none;
    color: #BF7506;
    margin-left: 24px;
    font-size: 16px;
}
.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}
.header {
    padding: 70px 0;
    display: flex;
    align-items: center;
}
.header-text {
    margin-left: 27px;
}
.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}
.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}
.header-primary {
    color: #BF7506;
}
.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.social-link {
    display: inline-block;
    padding: 8px;
}
.header-links {
    display: flex;
    align-items: center;
}
.cv-download {
    padding: 7px 8px;
    margin-left: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    border-bottom: 2px solid #BF7506;
}
.cv-icon {
    margin-right: 4px;
}
.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
}
.card {
    max-width: 400px;
    margin-bottom: 40px;
}
.card-text-wraper {
    padding: 16px;
}
.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #BF7506;
    margin-top: 0;
    margin-bottom: 8px;
}
.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
}
.tags {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
}
.tag {
    padding: 4px 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-decoration: none;
    color: #211b12;
    background-color: #ffffff;
    border: 1px solid #dd9c3c;
    border-radius: 4px;
    margin-right: 4px;
}
.card-buttons {
    display: flex;
    align-items: center;
}
.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}
.card-button-icon {
    margin-right: 4px;
}
.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.developer {
    padding: 80px 0 20px;
    display: flex;
    align-items: center;
}
.developer-photo {
    width: 360px;
    height: 440px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
}
.developer-about {
    margin-left: 55px;
}
.developer-hello {
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #211b12;
}
.developer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin-top: 4px;
    margin-bottom: 24px;
}
.developer-text {
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
}
.motto {
    font-size: 24px;
    line-height: 150%;
    color: #dd9c3c;
    margin: 16px 0;
}
.skills {
    max-width: 870px;
    width: 100%;
    margin: auto;
    padding: 20px 0;
}
.skills-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    color: #211b12;
}
.feedback {
    padding: 80px 0 160px;
}
.input-group {
    margin-bottom: 24px;
    position: relative;
    padding-top: 9px;
}
.input-label {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    padding: 0 8px;
    background-color: #ffffff;
    top: 0;
    left: 16px;
}
.input {
    border: 3px solid #e0dedc;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}
.textarea {
    min-height: 140px;
}
.form-container {
    max-width: 435px;
    margin: auto;
}
.submit-button {
    padding: 7px 8px;
    margin-left: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    border-bottom: 2px solid #BF7506;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
.button-group {
    display: flex;
    justify-content: flex-end;
}